:root {
  /* Main Elements */
  --bg-color: #000000;
  --card-bg-color: #161616;
  --timeline-card: #ffffff;

  /* Buttons */
  --txt-high-contrast: #ffffff;

  /* Buttons */
  /* Need to add app buttons */
  --btn-bg-color: #cdcdcd;
  --btn-bg-color-active: #ffffff;

  /* Input field */
  --input-field-border-color: #666666ff;
  --input-field-border-focus-color: #ffffff;

  --input-field-label-primary-color: #ffffff;
  --input-field-label-secondary-color: #666666ff;

  /* Accent Color */
  --accent-color-primary: #ff4900ff;
  --accent-color-primary-active: #ff753f;

  --accent-color-secondary: #ff490040;
}
