.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;

  gap: 1.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider__item-card {
  width: 75%;
  height: 100%;
  max-width: 40rem;
  max-height: 50rem;
  background-color: var(--accent-color-primary);
  border-radius: 1.5rem;
  flex-shrink: 0;
}

/*  */
/*  */
/* RESPONSIVENESS ================================================== */
/*  */

/* ====== MOBILE ====== */
/* MOBILE & LANDSCAPE */
/* Already Default */

/* MOBILE & LANDSCAPE */
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
}
