.btn {
  background: none;
  border: none;
  outline: none;
}

.btn__steps {
  padding: 2rem 5rem;
  border: 1px dashed green;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--txt-high-contrast);
  border-radius: 1rem;
}

.hidden {
  display: none;
  /* position: absolute; */
}

.txt__color {
  color: var(--accent-color);
}

.txt__high-contrast {
  color: #fff;
}

.txt__bold {
  font-weight: 700;
}

.content-area__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--txt-high-contrast);
  text-align: center;
}

.section__btns__container {
  flex-direction: column;
}

.section__content__container__vertical {
  flex-direction: column;
  gap: 10rem;
}
