.body {
  height: 100dvh;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .body {
    height: 100dvh;
    width: 100%;
  }

  .main {
    height: 100%;
    max-width: 140rem;
  }
}
