.screen {
  background-color: blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: red;
  height: 10rem;
  width: 100%;
}

.main {
  background-color: rgb(49, 7, 97);
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 15rem;
  grid-template-areas:
    'main-content'
    'bottom-content';
}

.main-content__container {
  grid-area: main-content;
  background-color: aqua;
}

.bottom-content__container {
  grid-area: bottom-content;
  background-color: bisque;
}

/*  */
/*  */
/* RESPONSIVENESS */
/*  */

@media screen and (orientation: landscape) {
  .screen {
    flex-direction: row;
  }

  .header {
    background-color: red;
    height: 100%;
    width: 10rem;
  }

  .main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 15rem;
    grid-template-areas: 'main-content bottom-content';
  }
}
