:root {
  /* Main Elements */
  --bg-color: #000000;

  /* Buttons */
  --txt-high-contrast: #ffffff;

  /* Buttons */
  --btn-bg-color: #cdcdcd;
  --btn-bg-color-active: #ffffff;

  /* Input field */
  --input-field-bg-color: rgb(255, 255, 255, 0.05);
  --input-field-border-color: rgb(255, 255, 255, 0.1);
  --input-field-border-focus: rgb(255, 255, 255, 0.6);

  /* Accent Color */
  --accent-color: #0054ffff;
}
