.section__loading-screen {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading Circles -------------------------------------------- */
.loading-circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading__circle-1 {
  animation: loadingScreenCircle1 3s ease-in-out;
  animation-iteration-count: 4;
}

.loading__circle-2 {
  animation: loadingScreenCircle2 3s ease-in-out;
  animation-iteration-count: 4;
}

.loading__circle-3 {
  animation: loadingScreenCircle3 3s ease-in-out;
  animation-iteration-count: 4;
}

/* Loading Message -------------------------------------------- */
.loading__message {
  font-size: 3.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: loadingMessage 3s ease-in-out;
  animation-iteration-count: 4;
}

/* Loading Dots -------------------------------------------- */
.loading__dots__container {
  font-size: 2.4rem;
  font-weight: 700;
  display: flex;
  gap: 1.6rem;
  position: absolute;
  transform: translateY(3rem);
}

.loading__dot-1 {
  animation: loadingMessage 3s;
  animation-iteration-count: 3;
}

.loading__dot-2 {
  animation: loadingMessage 3s 0.5s;
  animation-iteration-count: 3;
}

.loading__dot-3 {
  animation: loadingMessage 3s 1s;
  animation-iteration-count: 3;
}

/* CURRENT STATES ---------------------------------------- */
.hidden {
  display: none;
}

/* ------------------------------------------------ */

@keyframes loadingScreenCircle1 {
  0% {
    width: 30rem;
    border: 4px solid rgb(255, 255, 255, 0.6);
  }

  50% {
    width: 35rem;
    border: 1px solid rgb(255, 255, 255, 0);
  }

  100% {
    width: 30rem;
    border: 4px solid rgb(255, 255, 255, 0.6);
  }
}

@keyframes loadingScreenCircle2 {
  0% {
    width: 30rem;
    border: 1px solid rgb(255, 255, 255, 0);
  }

  50% {
    width: 25rem;
    border: 4px solid rgb(255, 255, 255, 0.6);
  }

  100% {
    width: 30rem;
    border: 1px solid rgb(255, 255, 255, 0);
  }
}

@keyframes loadingScreenCircle3 {
  0% {
    width: 30rem;
    border: 4px solid rgb(255, 255, 255, 0.6);
  }

  50% {
    width: 20rem;
    border: 1px solid rgb(255, 255, 255, 0);
  }

  100% {
    width: 30rem;
    border: 4px solid rgb(255, 255, 255, 0.6);
  }
}

@keyframes loadingMessage {
  0% {
    color: rgb(84, 84, 84);
  }

  50% {
    color: rgb(255, 255, 255, 1);
  }

  100% {
    color: rgb(84, 84, 84);
  }
}

@keyframes loadingDots {
  0% {
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
