.nav-bar__container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
}

.nav-bar {
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
}

.side-bar__btn {
  width: 6rem;
  aspect-ratio: 1 / 1;
  color: #000000;
  border-radius: 100rem;
}

.btn__icon {
  font-size: 2.4rem;
  color: #d1d1d1;
}

.nav-bar__btn--selected {
  background-color: #ffffff;
}

.nav-bar__btn__icon--selected {
  color: #000000;
}

@media screen and (orientation: portrait) {
}
