.side-bar {
  /* background-color: rgba(0, 0, 129, 0.1); */
  grid-area: sideBar;
  border-right: 1px solid #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.side-bar__btn {
  width: 100%;
  aspect-ratio: 1 / 1;
  color: #ffffff;
}
