.side-bar {
  grid-area: sideBar;
  border-right: 1px solid #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

.side-bar__btn {
  width: 100%;
  flex-grow: 1;
  color: #717171;
  font-weight: 700;
}

.side-bar__btn--selected {
  color: #ffffff;
}

@media screen and (orientation: portrait) {
  .side-bar {
    border-bottom: 1px solid #222222;
    flex-direction: row;
    padding: 1rem;
  }
}
