.top-bar {
  /* background-color: rgba(0, 128, 0, 0.1); */
  grid-area: topBar;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  border-bottom: 1px solid #222222;
}

.driver-details {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt__truck {
  font-size: 2rem;
  font-weight: 300;
}

.txt__driver {
  font-size: 2rem;
  font-weight: 500;
}
