/* Screen : main container */
.screen {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-areas:
    'header'
    'main';
}

/* Screen : primary containers */
.header {
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-normal);
  position: relative;
}

.main {
  grid-area: main;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 15rem;
  grid-template-areas:
    'main-content'
    'bottom-content';

  gap: 1rem;
}

/* Screen : secondary containers */
.main-content__container {
  grid-area: main-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-content__container {
  grid-area: bottom-content;
  padding: var(--padding-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Screen : Child Elements */
.header__app-name__container {
  position: absolute;
  width: 100%;
  text-align: center;
}

/*  */
/*  */
/* RESPONSIVENESS */
/*  */

@media screen and (orientation: landscape) {
  .screen {
    grid-template-rows: 1fr;
    grid-template-columns: 10rem 1fr;
    grid-template-areas: 'header main';
  }

  .header {
    flex-direction: column;
  }

  .main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 15rem;
    grid-template-areas: 'main-content bottom-content';
  }

  .action-content__container {
    grid-area: bottom-content;
    padding: var(--padding-normal);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
