/* PRIMARY CONTAINER */
.delivery-status__info__container {
  width: 100%;
  height: 30%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--accent-color-primary);
}

/* SECONDARIES CONTAINER */
.delivery-status__title__container {
  width: 100%;
  height: 4rem;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-status__info-text__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* CHILD COMPONENTS */
.delivery-status__title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--txt-color-high-contrast);
  line-height: 2.5rem;
  font-family: var(--font-family-primary);
}

.delivery-status__cities-names {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--txt-color-high-contrast);
  line-height: 2.5rem;
  font-family: var(--font-family-secondary);
}

.delivery-status__cities-names__normal-txt {
  text-align: center;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  color: var(--txt-color-high-contrast);
  line-height: 2.5rem;
  font-family: var(--font-family-primary);
}

.delivery-status__load-content {
  text-align: center;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--txt-color-high-contrast);
  line-height: 2.5rem;
  font-family: var(--font-family-primary);
}

/*  */
/*  */
/* RESPONSIVENESS ================================================== */
/*  */

/* ====== MOBILE ====== */
/* MOBILE & LANDSCAPE */
/* Already Default */

/* MOBILE & LANDSCAPE */
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .delivery-status__info__container {
    height: 100%;
    width: 50%;
    border: none;
    border-right: 1px solid var(--accent-color-primary);
  }

  .delivery-status__title__container {
    height: 4rem;
    min-height: 4rem;
  }
}

/* TABLET & LANDSCAPE */
@media screen and (min-device-width: 1024px) and (orientation: landscape) {
  .delivery-status__info__container {
    height: 100%;
    width: 50%;
    border: none;
    border-right: 1px solid var(--accent-color-primary);
  }
}
