.timeline__card {
  width: 100%;
  height: 100%;
  max-width: 60rem;
  max-height: 7rem;
  /* border: 1px dashed var(--accent-color-primary); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
}

.timeline__progress-bar__container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeline__full-bar {
  height: 0.5rem;
  width: 100%;
  background-color: var(--accent-color-secondary);
  border-radius: 100rem;
  /* overflow: hidden; */
}

.timeline__adaptable-bar {
  width: 0%;
  height: 100%;
  border-radius: 100rem;
  background-color: var(--accent-color-primary);
  justify-content: flex-end;
  display: flex;
  position: relative;
  box-shadow: 0 0 10px var(--accent-color-primary);
}

.timeline__txt__container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline__txt {
  font-size: var(--font-size-small);
  color: var(--accent-color-primary);
}

.timeline__txt--bold {
  font-weight: var(--font-weight-bold);
}

/*  */
/*  */
/* RESPONSIVENESS ================================================== */
/*  */

/* ====== MOBILE ====== */
/* MOBILE & LANDSCAPE */
/* Already Default */

/* MOBILE & LANDSCAPE */
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .timeline__card {
    height: 100%;
    padding: 0.5rem 2rem;
  }

  .timeline__progress-bar__container {
    gap: 1rem;
  }

  .timeline__full-bar {
    height: 0.25rem;
  }
}
