.input-field {
  height: 4rem;
  border-radius: 100rem;
  background-color: var(--input-field-bg-color);
  outline: none;
  border: 1px solid var(--input-field-border-color);
  font-size: 1.8rem;
  color: var(--txt-high-contrast);
  padding: 0 2rem;
}

.input-field:focus {
  border: 1px solid var(--input-field-border-focus);
}
