/* Main container */
.main-home__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Primary containers */

.main-home__apps__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Secondary containers */

.main-home__apps-title__container {
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home__apps-carrousel__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Tertiary containers */
.main-home__apps-carrousel {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-home__btns-apps__container {
  width: 100%;
  height: 6rem;
  min-height: 6rem;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

/* Child elements */
.main-home__apps-title {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  color: var(--txt-color-high-contrast);
  line-height: 2.5rem;
  font-family: var(--font-family-primary);
}

/* ACTION CONTAINER */
.home__action-container {
  width: 100%;
  height: 100%;
  max-width: 60rem;
  display: block;
}

.home__action-container--one-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'timeline timeline'
    'btn-content-primary btn-content-primary';
  column-gap: 1rem;
}

.home__action-container--two-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'timeline timeline'
    'btn-content-secondary btn-content-primary';
  column-gap: 1rem;
}

.timeline__card {
  grid-area: timeline;
  align-self: center;
  justify-self: center;
}

#btn-content__home--new-job {
  grid-area: btn-content-primary;
  width: 100%;
  align-self: center;
}

/*  */
/*  */
/* RESPONSIVENESS ================================================== */
/*  */

/* ====== MOBILE ====== */
/* MOBILE & LANDSCAPE */
/* Already Default */

/* MOBILE & LANDSCAPE */
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .main-home__container {
    flex-direction: row;
  }

  .main-home__apps-title__container {
    height: 4rem;
    min-height: 4rem;
  }

  .main-home__apps__container {
    height: 100%;
    width: 50%;
  }

  .main-home__apps-carrousel__container {
    gap: 0.75rem;
    padding-left: 1rem;
  }

  .timeline__card {
    display: none;
  }

  .main-home__btns-apps__container {
    height: fit-content;
    min-height: auto;
  }

  .home__action-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__action-container--one-btn {
    display: grid;
    grid-template-columns: 30rem;
    grid-template-rows: 6rem;
    grid-template-areas: 'btn-content-primary';
  }

  .home__action-container--two-btn {
    max-width: 100%;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'btn-content-secondary timeline btn-content-primary';
    column-gap: 1rem;
    padding: 0.5rem 0;
  }

  #btn-content__home--new-job {
    height: 100%;
    width: 100%;
  }
}

/* TABLET & LANDSCAPE */
@media screen and (min-device-width: 1024px) and (orientation: landscape) {
  .main-home__container {
    flex-direction: row;
  }

  .main-home__apps__container {
    height: 100%;
    width: 50%;
  }

  .home__action-container {
    max-width: 100%;
    grid-template-columns: 1fr 50rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'btn-cancel timeline btn-next-step';
    column-gap: 4rem;
  }

  .timeline__card {
    display: none;
  }

  .home__action-container--one-btn {
    max-width: 100%;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'timeline btn-content-primary';
    column-gap: 1rem;
    padding: 0.5rem 0;
  }

  .home__action-container--two-btn {
    max-width: 100%;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'btn-content-secondary timeline btn-content-primary';
    column-gap: 1rem;
    padding: 0.5rem 0;
  }

  #btn-content__home--new-job {
    height: 100%;
    width: 100%;
  }
}
